<header>

    <div class="newspaper-title">
        <div class="newspaper-title-content">
            <a href="/about">
                <!--<h1 id="heading-h1-the">THE</h1>-->
                <h1>THE 24 CARAT COUP</h1></a>
                <div class="bottom-section">
                    <p class="today-date"></p>
                    <p>LATEST HOSTILE TAKEOVER NEWS</p>
                    <p>UK 2020</p>
                </div>
            </a>
        </div>

    </div>
    <nav class="nav">
        <img src="/images/kremlin.png">
        <a class="nav-link" href="/about">HOME</a>
        <a class="nav-link" href="/press">MEDIA</a>
        <a class="nav-link" href="/breakin">BREAK IN</a>
    </nav>
    
</header>