<header>

    <nav class="nav-sub">
        <div class="website-heading">
            <a href="/about">
                <!--<img src="/images/menu.png">-->
                <h1>THE 24 CARAT COUP</h1>
            </a>
        </div>
        <div class="links">
            <a class="nav-link" href="/about">HOME</a>
            <a class="nav-link" href="/press">MEDIA</a>
            <a class="nav-link" href="/breakin">BREAK IN</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ARTICLES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/article/5fbc32400ec82c5aacb5752b">Prosperity submitted a complaint to Takeover Panel in July</a>
                    <a class="dropdown-item" href="/article/5fbc32a00ec82c5aacb5752d">How did the concert party coup work?</a>
                    <a class="dropdown-item" href="/article/5fbc32ca0ec82c5aacb5752e">Transparency and corporate governance issues at Petropavlovsk</a>
                </div>
            </li>
        </div>
    </nav>
    
</header>