<%- include('partials/header'); -%>

<div class="jumbotron" id="gorilla">
    <div id="gorilla-container">


        <div class="tenor-gif-embed" data-postid="5518322" data-share-method="host" data-width="100%" data-aspect-ratio="0.8333333333333334">
            <a href="https://tenor.com/view/king-kong-king-kong-gif-5518322">King Kong GIF</a> from <a href="https://tenor.com/search/kingkong-gifs">Kingkong GIFs</a>
        </div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

    </div>
</div>