<%- include('partials/header'); -%>

<!--<div id="landing-page">
    <a href="/"><img src="/images/landingpage.png"></a>
</div>-->
<div id="landing-page-container">
    <a id="skip-animation" href="/about">SKIP ANIMATION AND ENTER THE WEBSITE</a>
    <div class="row">
        <div class="landing-image-container col-lg-4">
            <img id="landing1" src="/images/landingpage1.png">
        </div>
        <div class="landing-image-container col-lg-3">
            <img id="landing7" src="/images/landingpage10.png">
        </div>
        <div class="landing-image-container col-lg-5">
            <img id="landing2" src="/images/landingpage8.png">
        </div>
    </div>

    <div class="row">
        <div class="landing-image-container col-lg-4 pt-5">
            <img id="landing8" src="/images/landingpage11.png">
        </div>
        <div class="landing-image-container col-lg-3">
            <img id="landing4" class="ml-4" src="/images/landingpage3.png">
        </div>
        <div class="landing-image-container col-lg-4 pt-5">
            <img id="landing9" src="/images/landingpage12.png">
        </div>
    </div>

    <div class="row">
        <div class="landing-image-container col-lg-3">
        </div>
        <div id="heading-column" class="landing-image-container col-lg-6">
            <h3 id="initial-heading">What Really Happened?</h3>
            <a id="secondary-heading" href="/about">
                <h3> THE 24 CARAT COUP</h3>
                <h4 id="full-story">Full Story Here</h4>
            </a>
            <img src="/images/paper.png">

        </div>
        <div class="landing-image-container col-lg-3">

        </div>
    </div>

    <div class="row">
        <div class="landing-image-container col-lg-5">
            <img id="landing11" src="/images/landingpage9.png">
        </div>
        <div class="landing-image-container col-lg-3">
            <img id="landing12" src="/images/landingpage7.png">
        </div>
        <div class="landing-image-container col-lg-4">
            <img id="landing10" src="/images/landingpage4.png">
        </div>
    </div>

    <div class="row">
        <div class="landing-image-container col-lg-4">
            <img id="landing6" src="/images/landingpage2.png">
        </div>
        <div class="landing-image-container col-lg-4">
            
            <img id="landing3" src="/images/landingpage6.png">

        </div>
        <div class="landing-image-container col-lg-3">
            <img id="landing5" src="/images/landingpage5.png">
        </div>
    </div>

    <img id="left-center" src="/images/landingpage13.png">
    <img id="bottom-right" src="/images/landingpage14.png">
    <img id="top-right-center" src="/images/landingpage15.png">
    <img id="middle-right-center" src="/images/landingpage10.png">
    <img id="middle-left-center" src="/images/landingpage17.png">
    <img id="bottom-left" src="/images/landingpage17.png">
    <img id="middle-center" src="/images/landingpage16.png">

</div>


<!--smaller screen-->

<div id="landing-page-container-small">
    <a id="skip-animation" href="/about">SKIP ANIMATION AND ENTER THE WEBSITE</a>
    <div class="row">
        <div class="landing-image-container col-6">
            <img id="landing1" src="/images/landingpage1.png">
        </div>
        <div class="landing-image-container col-6">
            <img id="landing2" src="/images/landingpage3.png">
        </div>
    </div>

    <div class="row">
        <div class="ft-article-piece landing-image-container col-7">
            <img id="landing4" src="/images/landingpage8.png">
        </div>
        <div class="landing-image-container col-5">
            <img id="landing9" src="/images/landingpage12.png">
        </div>
    </div>


    <div class="row">
        <div class="landing-image-container col-5">
            <img id="landing7" src="/images/landingpage10.png">
        </div>
        <div class="landing-image-container col-7">
            <img id="landing8" src="/images/landingpage11.png">
        </div>
    </div>

    <div class="row">
        <div class="landing-image-container col-xs-1 col-2">
        </div>
        <div id="heading-column" class="landing-image-container col-xs-10 col-8">
            <img src="/images/paper.png">
            <h3 id="initial-heading">What Really Happened?</h3>
            <a id="secondary-heading" href="/about">
                <h3> THE 24 CARAT COUP</h3>
                <h4 id="full-story">Full Story Here</h4>
            </a>
        </div>
        <div class="landing-image-container col-xs-1 col-2">

        </div>
    </div>

    <div class="row">
        <div class="landing-image-container col-7">
            <img id="landing11" src="/images/landingpage9.png">
        </div>
        <div class="landing-image-container col-5">
            <img id="landing10" src="/images/landingpage4.png">
        </div>
    </div>

    <div class="row">
        <div class="landing-image-container col-4">
            <img id="landing12" src="/images/landingpage7.png">
        </div>
        <div class="ft-article-piece landing-image-container col-8">
            <img id="landing3" src="/images/landingpage6.png">
        </div>
    </div>

    <div class="row">
        <div class="landing-image-container col-7">
            <img id="landing6" src="/images/landingpage2.png">
        </div>
        <div class="landing-image-container col-5">
            <img id="landing5" src="/images/landingpage5.png">
        </div>
    </div>

    <img id="top-left" src="/images/landingpage15.png">
    <img id="top-right" src="/images/landingpage16.png">
    <img id="bottom-right" src="/images/landingpage10.png">
    <img id="center" src="/images/landingpage13.png">
    <img id="bottom-left" src="/images/landingpage17.png">
    <img id="center-top" src="/images/landingpage14.png">

    <img id="extra-bottom-left" src="/images/landingpage14.png">
    <img id="extra-bottom-right" src="/images/landingpage15.png">


</div>

</div>
