<%- include('partials/header'); -%>
<%- include('partials/subnav'); -%>

<div class="jumbotron" id="press">
    <div id="press-container">

        <div class="scroll-to-top">
            <button class="circular ui icon button back-to-top">
                <i class="arrow up icon"></i>
            </button>
        </div>
        <div class="back-to-previous-page">
            <button class="ui button go-back">
                <i class="arrow left icon"></i>Back
            </button>
        </div>

        <div class="row">
            <div class="col-lg">
                <div class="press-block">
                    <a href="https://www.telegraph.co.uk/business/2020/10/30/petropavlovsk-mired-legal-battles-shareholder-coup/" target="_blank" class="press-link-source"><p class="press-source">THE TELEGRAPH</p>
                       <h4 class="press-title">Petropavlovsk mired in legal battles after shareholder coup</h4>
                       <p class="press-author">By Rachel Millard</p>
                        <p class="press-date">30 October 2020</p>
                    </a>
                </div>
            </div>
            <div class="col-lg">
                <div class="press-block">
                    <a href="https://www.ft.com/content/03fc6ba0-7920-498e-9aa8-aff460db8cbd" target="_blank" class="press-link-source"><p class="press-source">
                        FINANCIAL TIMES
                    </p>
                   <h4 class="press-title">
                        Petropavlovsk chief executive faces Russian criminal probe
                    </h4>
                   <p class="press-author">
                        By Neil Hume and Max Seddon
                    </p>
                    <p class="press-date">
                        22 October 2020
                    </p></a>
                </div>
            </div>
            <div class="col-lg">
                <div class="press-block">
                    <a href="https://www.cityam.com/russian-authorities-launch-investigation-into-new-petropavlovsk-boss/" target="_blank" class="press-link-source"><p class="press-source">
                        CITY AM
                    </p>
                    <h4 class="press-title">
                        Russian authorities launch investigation into new Petropavlovsk boss
                    </h4>
                    <p class="press-author">
                        By Edward Thicknesse
                    </p>
                    <p class="press-date">
                        22 October 2020
                    </p></a>
                </div>
            </div>
            <div class="col-lg">
                <div class="press-block">
                    <a href="https://www.investorschronicle.co.uk/company-news/2020/10/22/police-investigating-interim-petropavlovsk-boss/" target="_blank" class="press-link-source"><p class="press-source">
                        INVESTORS CHRONICLE
                    </p>
                    <h4 class="press-title">
                        Police investigating interim Petropavlovsk boss
                    </h4>
                   <p class="press-author">
                        By Alex Hamer
                    </p>
                   <p class="press-date">
                        22 October 2020
                    </p></a>
                </div>
            </div>
            
        </div>
       
        <hr> 

        <div class="row">
            <div class="col-lg">
                <div class="press-block">
                    <a href="https://www.telegraph.co.uk/business/2020/08/24/pwc-slams-door-miner-petropavlovsk-governance-concerns/" target="_blank" class="press-link-source">
                        <p class="press-source">
                        THE TELEGRAPH
                    </p>
                   <h4 class="press-title">
                        PwC slams door on miner Petropavlovsk over governance concerns
                    </h4>
                   <p class="press-author">
                        By Ed Clows
                    </p>
                    <p class="press-date">
                        24 August 2020
                    </p>
                    </a>
                </div>
            </div>
            <div class="col-lg">
                <div class="press-block">
                     <a href="https://www.mining-journal.com/gold-and-silver-news/news/1396967/turmoil-continues-at-petropavlovsk" target="_blank" class="press-link-source">
                         <p class="press-source">
                         MINING JOURNAL
                     </p>
                    <h4 class="press-title">
                         Turmoil continues at Petropavlovsk
                     </h4>
                    <p class="press-author">

                     </p>
                    <p class="press-date">
                         12 August 2020
                     </p>
                    </a>
                </div>
            </div>
            <div class="col-lg">
                <div class="press-block">
                    <a href="https://www.morningstar.co.uk/uk/news/AN_1597132688802796400/update-prosperity-criticises-everest-and-ucg-over-petropavlovsk-egm.aspx" target="_blank" class="press-link-source"><p class="press-source">
                        MORNING STAR
                    </p>
                   <h4 class="press-title">
                        UPDATE: Prosperity Criticises Everest And UCG Over Petropavlovsk EGM
                    </h4>
                    <p class="press-author">
                        
                    </p>
                    <p class="press-date">
                        11 August 2020
                    </p></a>
                </div>
            </div>
            <div class="col-lg">

                <div class="press-block">
                    <a href="https://www.cityam.com/ugc-owner-denies-trying-to-takeover-petropavlovsk-ahead-of-crunch-vote/" target="_blank" class="press-link-source"><p class="press-source">
                        CITY AM
                    </p>
                   <h4 class="press-title">
                        UGC owner denies trying to takeover Petropavlovsk ahead of crunch vote
                    </h4>
                    <p class="press-author">
                        By Edward Thicknesse
                    </p>
                   <p class="press-date">
                        5 August 2020
                    </p></a>
                </div>
            </div>
        </div>

        <hr> 

        <div class="row">
            <div class="col-lg">
                <div class="press-block">
                    <a href="https://www.thisismoney.co.uk/money/markets/article-8583893/Hambro-lets-settle-bitter-feud-gold-mining-giant.html" target="_blank" class="press-link-source"><p class="press-source">
                        MAIL ON SUNDAY
                    </p>
                   <h4 class="press-title">
                        City grandee Hambro calls on shareholders to act as two Russian moguls stage coup at £1.3bn Petropavlovsk
                    </h4>
                   <p class="press-author">
                        By Neil Craven and Jamie Nimmo
                    </p>
                  <p class="press-date">
                        1 August 2020
                    </p></a>
                </div>
            </div>
            <div class="col-lg">
                <div class="press-block">
                    <a href="https://www.sharecast.com/news/news-and-announcements/petropavlovsk-accuses-shareholder-of-seizing-control--7559415.html" target="_blank" class="press-link-source"><p class="press-source">
                        SHARECAST
                    </p>
                   <h4 class="press-title">
                        Petropavlovsk board ousted in AGM coup
                    </h4>
                    <p class="press-author">
                        By Sean Farrell
                    </p>
                   <p class="press-date">
                        30 June 2020
                    </p></a>
                </div>
            </div>
            <div class="col-lg">

                <div class="press-block">
                    <a href="https://www.telegraph.co.uk/business/2020/07/28/pwc-refuses-audit-embattled-london-minerpetropavlovsk/" target="_blank" class="press-link-source"><p class="press-source">
                        THE TELEGRAPH
                    </p>
                    <h4 class="press-title">
                        PwC refuses to audit embattled London miner Petropavlovsk
                    </h4>
                   <p class="press-author">
                        By Ed Clowes
                    </p>
                    <p class="press-date">
                        28 July 2020
                    </p></a>
                </div>
            </div>
            <div class="col-lg">

                <div class="press-block">
                    <a href="https://www.fnlondon.com/articles/pwc-stands-down-at-russian-gold-miner-petropavlovsk-after-ceo-ousted-20200728" target="_blank" class="press-link-source"><p class="press-source">
                        FINANCIAL NEWS
                    </p>
                    <h4 class="press-title">
                        PwC stands down at Russian gold miner Petropavlovsk after CEO ousted
                    </h4>
                   <p class="press-author">
                        By Emily Horton
                    </p>
                   <p class="press-date">
                        28 July 2020
                    </p></a>
                </div>
            </div>
        </div>

        <hr> 

        <div class="row">
            <div class="col-lg">

                <div class="press-block">
                    <a href="https://www.ft.com/content/aaa3c0cc-f496-4e37-8744-52399d6c91ec" target="_blank" class="press-link-source"><p class="press-source">
                        FINANCIAL TIMES
                    </p>
                    <h4 class="press-title">
                        Petropavlovsk revival at risk after boardroom bloodbath
                    </h4>
                    <p class="press-author">
                        By Neil Hume
                    </p>
                    <p class="press-date">
                        14 July 2020
                    </p></a>
                </div>
            </div>
            <div class="col-lg">
                <div class="press-block">
                    <a href="https://www.standard.co.uk/business/petropavlovsk-gold-shares-raiders-a4494881.html" target="_blank" class="press-link-source"><p class="press-source">
                        EVENING STANDARD
                    </p>
         <h4 class="press-title">
                        There's gold in Petropavlovsk shares, if only the Russian raiders would stop messing it about
                    </h4>
         <p class="press-author">
                        By Jim Armitage 
                    </p>
                <p class="press-date">
                        10 July 2020
                    </p></a>
                </div>
            </div>
            <div class="col-lg">
                <div class="press-block">
                    <a href="https://www.standard.co.uk/business/gold-petropavlovsk-hambro-strukov-a4494446.html" target="_blank" class="press-link-source"><p class="press-source">
                        EVENING STANDARD
                    </p>
                  <h4 class="press-title">
                        Hambro gold miner Petropavlovsk in new twist over battle for control by Russian tycoons
                    </h4>
                <p class="press-author">
                        By Jim Armitage
                    </p>
                <p class="press-date">
                        10 July 2020
                    </p></a>
                </div>
        
            </div>
            <div class="col-lg">
                <div class="press-block">
                    <a href="https://www.thetimes.co.uk/article/petropavlovsk-chaos-amid-coup-bid-lwhklvw2n" target="_blank" class="press-link-source"><p class="press-source">
                        THE TIMES
                    </p>
                    <h4 class="press-title">
                        Petropavlovsk chaos amid coup bid
                    </h4>
                    <p class="press-author">
                        By Emily Gosden
                    </p>
                    <p class="press-date">
                        01 July 2020
                    </p></a>
                </div>
            </div>
        </div>

        


          






<%- include('partials/footer'); -%>